@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Robotic-kits.png" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    
                    <a asp-area="" asp-controller="SpecificRobotsTrans" asp-action="Index">@Resources.LabelForRobots
                    
                        @Resources.LabelForLearnMore
                    </a>
                </p>
            </div>
        </div>

    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>@Resources.LabelForApplicationUses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>@Resources.LabelForData</h2>
        <ul>
            <li><a asp-area="" asp-controller="IndustriesTrans" asp-action="Index">@Resources.LabelForIndustries</a></li>
            <li><a asp-area="" asp-controller="ContributingFieldsTrans" asp-action="Index">@Resources.LabelForContributingFields</a></li>
            <li><a asp-area="" asp-controller="SpecificRobotsTrans" asp-action="Index">@Resources.LabelForRobots</a></li>
            <li><a asp-area="" asp-controller="RoboticsComponentsAndDesignFeaturesTrans" asp-action="Index">@Resources.LabelForRoboticsComponentsAndDesignFeatures</a></li>
            <li><a asp-area="" asp-controller="RoboticsPrinciplesTrans" asp-action="Index">@Resources.LabelForRoboticsPrinciples</a></li>
            <li><a asp-area="" asp-controller="TypesTrans" asp-action="Index">@Resources.LabelForTypes</a></li>
            <li><a asp-area="" asp-controller="RoboticsDevelopmentAndDevelopmentToolsTrans" asp-action="Index">@Resources.LabelForRoboticsDevelopmentAndDevelopmentTools</a></li>
            </ul>   
            </div>
    <div class="col-md-3">
        <h2>@Resources.LabelForOverview</h2>
        <ul>
            <li><a asp-area="" asp-controller="Addresses" asp-action="Index">@Resources.LabelForAddresses</a></li>
            <li><a asp-area="" asp-controller="InfluentialPeopleTrans" asp-action="Index">@Resources.LabelForInfluantialPeople</a></li>
            <li><a asp-area="" asp-controller="RoboticsCompaniesTrans" asp-action="Index">@Resources.LabelForRoboticsCompanies</a></li>
            <li><a asp-area="" asp-controller="RoboticsCompetitionsTrans" asp-action="Index">@Resources.LabelForRoboticsCompetition</a></li>
            <li><a asp-area="" asp-controller="RoboticsOrganizationsTrans" asp-action="Index">@Resources.LabelForRoboticsOrganization</a></li>
           </ul>
    </div>
    <div class="col-md-3">
        <h2>@Resources.LabelForInfoSources</h2>
        <ul>
            <li><a asp-area="" asp-controller="InfoSources" asp-action="Index">@Resources.LabelForInfoSources</a></li>
            <li><a asp-area="" asp-controller="Books" asp-action="Index">@Resources.LabelForBooks</a></li>
            <li><a asp-area="" asp-controller="Collections" asp-action="Index">@Resources.LabelForCollections</a></li>
            <li><a asp-area="" asp-controller="Journals" asp-action="Index">@Resources.LabelForJournals</a></li>
            <li><a asp-area="" asp-controller="Newspapers" asp-action="Index">@Resources.LabelForNewspapers</a></li>
            <li><a asp-area="" asp-controller="OfficialStatements" asp-action="Index">@Resources.LabelForOfficialStatements</a></li>
            <li><a asp-area="" asp-controller="Series" asp-action="Index">@Resources.LabelForSeries</a></li>
            <li><a asp-area="" asp-controller="Unpublished" asp-action="Index">@Resources.LabelForUnpublished</a></li>
            <li><a asp-area="" asp-controller="Websites" asp-action="Index">@Resources.LabelForWebsites</a></li>
        </ul>
    </div>
</div>
