@model Robotics.Models.SpecificRobotsInRelation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SpecificRobotsInRelation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContributingfieldsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContributingfieldsNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DegreeofmaturityNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DegreeofmaturityNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BranchesNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchesNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InfluentialpeopleNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InfluentialpeopleNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModesoflocomotionNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModesoflocomotionNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RobotcomponentsanddesignfeaturesNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RobotcomponentsanddesignfeaturesNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoboticscompaniesNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoboticscompaniesNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoboticscompetitionsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoboticscompetitionsNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoboticsdevelopmentanddevelopmenttoolsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoboticsdevelopmentanddevelopmenttoolsNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoboticsorganizationsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoboticsorganizationsNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoboticsprinciplesNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoboticsprinciplesNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecificrobotsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecificrobotsNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypesNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypesNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
