@model Robotics.Models.SpecificRobotsTrans
@using Robotics.Models
@using Microsoft.EntityFrameworkCore

@inject RoboticsContext _context
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listspecificrobotsinrelation = _context.SpecificRobotsInRelation.ToList();
    var ContributingFieldsTrans = _context.ContributingFieldsTrans.ToList();
    var ModesOfLocomotionTrans = _context.ModesOfLocomotionTrans.ToList();
    var RoboticsPrinciplesTrans = _context.RoboticsPrinciplesTrans.ToList();
    var BranchesTrans = _context.SpecificRobotsInRelation.ToList();
    var TypesTrans = _context.TypesTrans.ToList();
    var RobotComponentsAndDesignFeaturesTrans = _context.RobotComponentsAndDesignFeaturesTrans.ToList();
    var Roboticsdevelopmentanddevelopmenttools = _context.RoboticsDevelopmentAndDevelopmentToolsTrans.ToList();
    var RoboticsCompaniesTrans = _context.RoboticsCompaniesTrans.ToList();
    var RoboticsOrganizationsTrans = _context.RoboticsOrganizationsTrans.ToList();
    var RoboticsCompetitionsTrans = _context.RoboticsCompetitionsTrans.ToList();
    var InfluentialPeopleTrans = _context.InfluentialPeopleTrans.ToList();
    var DegreeOfMaturityTrans = _context.DegreeOfMaturityTrans.ToList();

    var InfoSourcesInRelation = _context.InfoSourcesInRelation.ToList();
    var InfoTypes = _context.InfoTypes.ToList();
    var Websites = _context.Websites.ToList();



}

<h2>Details</h2>

<div>
    <h4>SpecificRobotsTrans</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LanguageNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LanguageNavigation.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecificrobotsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SpecificrobotsNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>|
    <a asp-action="Create" asp-controller="SpecificRobotsInRelations" asp-route-specificrobots="@Model.Specificrobots">Create Relation</a><br />
    <a asp-action="Index" asp-controller="SpecificRobotsInRelations" asp-route-specificrobots="@Model.Specificrobots">Index of Relations</a><br />

</div>

<div>
    <h4>SpecificRobotsInRelation</h4>
    <hr />

    <dl class="dl-horizontal">
        
        <dt>
    Contributing Fields
</dt>
        <dd>
            @foreach (var item in listspecificrobotsinrelation)
            {

                @if (item.Specificrobots == Model.Specificrobots)
                {

                    @foreach (var contfield in ContributingFieldsTrans)
                    {

                        @if (item.Contributingfields == contfield.Contributingfields)
                        {

                            <a asp-action="Details" asp-controller="ContributingFieldsTrans" asp-route-id="@item.Id">@contfield.Name</a><br />
                        }
                    }
                }
            }
        </dd>
    </dl>
</div>
<a asp-action="SelectInfoType" asp-controller="InfoTypes" asp-route-tablename="SpecificRobots" asp-route-tableid="@Model.Specificrobots" asp-route-currentpath="@Context.Request.Path">+ @Resources.LabelForInfoSources</a>

<div>
    <h3>@Resources.LabelForInfoSources</h3>
    @foreach (var item in InfoSourcesInRelation)
    {
        @if ("SpecificRobots" == item.Tablename)
        {
            @if (Model.Specificrobots == item.Tableid)
            {

                @foreach (var infotype in InfoTypes)
                {
                @if (infotype.Name.Equals("Websites"))
                {
                    @if (infotype.Id == item.Infotype) { 
                @foreach (var infosource in Websites.Where(A => A.Id.Equals(item.Infosourceid)))
                {
                    <div class="Website">
                        @if(@infosource.Lastname == "") { 
                        <p>@infosource.Organization : @infosource.Title : @infosource.Title. @infosource.Publicationdate @infosource.Url (@infosource.Calldate). <a href="@infosource.Url">[Link]</a></p>
                        }
                        else
                        {
                            <p > @infosource.Lastname, @infosource.Firstname : @infosource.Title. @infosource.Publicationdate @infosource.Url (@infosource.Calldate). <a href="@infosource.Url">[Link]</a></p>
                        }
                        <br />
                    </div>
                }
                    }
                }
                }
                }
            }
    }
    <p>
        <a asp-controller="Addresses" asp-action="CreateAndConnect" asp-route-tablename="SpecificRobots" asp-route-tableid="@Model.Specificrobots" asp-route-currentpath="@Context.Request.Path">+@Resources.LabelForAddresses</a>
    </p>
</div>