@model IEnumerable<Robotics.Models.InfoSources>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BooksNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CollectionsNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalsNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NewspapersNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficialstatementsNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SeriesNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnpublishedNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebsitesNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BooksNavigation.Firstnameauhor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CollectionsNavigation.Firstnameauhor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalsNavigation.Firstnameauhor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewspapersNavigation.Firstnameauhor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficialstatementsNavigation.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeriesNavigation.Firstnameauhor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnpublishedNavigation.Firstnameauhor1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WebsitesNavigation.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
