@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Robotics.Controllers
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Http
@inject IViewLocalizer Localizer 
@inject IOptions<RequestLocalizationOptions> LocOptions

@{

    var cultureItems = LocOptions.Value.SupportedUICultures.ToList();
    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture;
    string cultureselected = @Context.Request.Path;
    if (cultureselected.Length > 5) {
        cultureselected = cultureselected.Substring(1, 5);         
            };
    string culturecookie;
    Context.Request.Cookies.TryGetValue(".AspNetCore.Culture", out culturecookie);

    string cultureurl = "en-US";
    if (culturecookie == null)
    { cultureurl = currentCulture.Culture.Name; }
    else
    {
        cultureurl = culturecookie.Substring(12);
    };
    String returnUrl = @Context.Request.Path;
    if (returnUrl.Length > 5) {
        returnUrl = returnUrl.Substring(6);
    }
    var sampleTitle = Localizer["Select your Language"];
    }

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Robotics</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Robotics</a>
            </div>
 

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">@Resources.LabelForAbout</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">@Resources.LabelForContact</a></li>
                    <li><a asp-area="" asp-controller="BranchesTrans" asp-action="Index">@Resources.LabelForBranches</a></li>
                    <li><a asp-area="" asp-controller="SpecificRobotsTrans" asp-action="Index">@Resources.LabelForRobots</a></li>
                    <li><a asp-area="" asp-controller="ContributingFields" asp-action="Index">@Resources.LabelForContributingFields</a></li>
                    <li><a asp-area="" asp-controller="Addresses" asp-action="Index">@Resources.LabelForAddresses</a></li>

                </ul>
            </div>
            <div class="SelectLanguage">
                <form id="selectlanguage" asp-culture="@cultureurl"
                      asp-controller="Base"
                      asp-action="SetLanguage"
                      method="post" role="form">
                    <input name="returnUrl" type="hidden" value="@returnUrl" />
                    <select name="culture" onchange="this.form.submit();">
                        @foreach (var item in cultureItems)
            {
                            @if (cultureselected == item.Name)
                {
                                <option value="@item.Name" selected="selected">
                                    @item.DisplayName
                                </option> }
                else
                {
                                <option value="@item.Name">

                                    @item.DisplayName
                                </option>
                            }
                        }
                    </select>

                </form>
            </div>

        </div>
    </nav>
   
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2017 - Robotics</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=hvflwp1x9q7nri0snoiagfkqysxopoq4pgca7175fopsn8a2"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=hvflwp1x9q7nri0snoiagfkqysxopoq4pgca7175fopsn8a2"></script>
        
        <script>
tinymce.init({
                selector: "textarea",
                theme: "modern",
                width: 500,
                height: 300,
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                /* content_css: "css/content.css",*/
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons",
                style_formats: [
                    { title: 'Bold text', inline: 'b' },
                    { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                    { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                    { title: 'Example 1', inline: 'span', classes: 'example1' },
                    { title: 'Example 2', inline: 'span', classes: 'example2' },
                    { title: 'Table styles' },
                    { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
                ]
            });

        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
