@model Robotics.Models.InfoSourcesInRelation

@{
    ViewData["Title"] = "CreateAndConnect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateAndConnect</h2>

<form asp-action="CreateAndConnect">
    <div class="form-horizontal">
        <h4>InfoSourcesInRelation</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" name="currentpath" id="currentpath" class="form-control" value="@ViewBag.currentpath" />
        <div class="form-group">
            <label asp-for="Tablename" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tablename" class="form-control" value="@ViewBag.tablename" />
                <span asp-validation-for="Tablename" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tableid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tableid" class="form-control" value="@ViewBag.tableid" />
                <span asp-validation-for="Tableid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Infotype" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Infotype" class ="form-control" value="@ViewBag.infotype" asp-items="ViewBag.Infotypes"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Infosourceid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Infosourceid" class="form-control" value="@ViewBag.infosourceid" />
                <span asp-validation-for="Tableid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CreateAndConnect" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
