@model IEnumerable<Robotics.Models.InfoSourcesInRelation>
@using Robotics.Models;
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<InfoSourcesInRelation> InfoSourcesInRelation = ViewBag.InfoSourcesInRelation;
    List<InfoTypes> InfoTypes = ViewBag.InfoTypes;
    List<Websites> Websites = ViewBag.Websites;
    List<Books> Books = ViewBag.Books;
    List<Journals> Journals = ViewBag.Journals;
    List<Series> Series = ViewBag.Series;
    List<Collections> Collections = ViewBag.Collections;
    List<Unpublished> Unpublished = ViewBag.Unpublished;
    List<OfficialStatements> OfficialStatements = ViewBag.OfficialStatements;
    List<Newspapers> Newspapers = ViewBag.Newspapers;



}

<h2>Manage</h2>

<div class="InfoSources">
    <h3>@Resources.LabelForInfoSources</h3>
    @foreach (var item in InfoSourcesInRelation)
    {
        @if (@ViewBag.tablename == item.Tablename)
        {
            @if (@ViewBag.tableid == item.Tableid)
            {
                @foreach (var infotype in InfoTypes)
                {
                    @if (infotype.Name.Equals("Websites"))
                    {
                        @if (infotype.Id == item.Infotype)
                        {
                            @foreach (var infosource in Websites.Where(A => A.Id.Equals(item.Infosourceid)))
                            {
                                <a asp-action="Edit" asp-controller="Websites"  asp-route-id="@infosource.Id" >Edit</a>
                                <a asp-action="Delete" asp-controller="Websites" asp-route-id="@infosource.Id">Delete</a>
                                <div class="Website">
                                    @if (infosource.Lastname == null)
                                    {
                                        <p>@infosource.Organization : @infosource.Title : @infosource.Title. @infosource.Publicationdate @infosource.Url (@infosource.Calldate). <a href="@infosource.Url">[Link]</a></p> }
                                    else
                                    { <p> @infosource.Lastname, @infosource.Firstname : @infosource.Title. @infosource.Publicationdate @infosource.Url (@infosource.Calldate). <a href="@infosource.Url">[Link]</a></p> }
                                </div>
                            }
                        }
                    }
                    @if (infotype.Name.Equals("Books"))
                    {
                        @if (infotype.Id == item.Infotype)
                        {
                            @foreach (var infosource in Books.Where(A => A.Id.Equals(item.Infosourceid)))
                            {  <a asp-action="Edit" asp-controller="Books" asp-route-id="@infosource.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="Books" asp-route-id="@infosource.Id">Delete</a>
                                <div class="Books">
                                    <p>
                                        @infosource.Lastnameauhor1, @infosource.Firstnameauhor1 @if (infosource.Lastnameauhor2 != null)
                                        {<span> / @infosource.Lastnameauhor2, @infosource.Firstnameauhor2</span> } @if (infosource.Lastnameauhor3 != null)
                                        { <span> / @infosource.Lastnameauhor3, @infosource.Firstnameauhor3</span> } @if (infosource.Furtherauthors != null)
                                        { <span> / @infosource.Furtherauthors</span> }: @infosource.Title. @infosource.Location <sup>@infosource.Edition</sup> @infosource.Publicationdate, @Resources.LabelForPagesAbbreviation @infosource.Pages.
                                    </p>
                                </div>
                            }
                        }
                    }
                    @if (infotype.Name.Equals("Journals"))
                    {
                        @if (infotype.Id == item.Infotype)
                        {
                            @foreach (var infosource in Journals.Where(A => A.Id.Equals(item.Infosourceid)))
                            { <a asp-action="Edit" asp-controller="Journals" asp-route-id="@infosource.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="Journals" asp-route-id="@infosource.Id">Delete</a>
                                <div class="Journals">
                                    <p>
                                        @infosource.Lastnameauhor1, @infosource.Firstnameauhor1 @if (infosource.Lastnameauhor2 != null)
                                        { <span> / @infosource.Lastnameauhor2, @infosource.Firstnameauhor2</span> } @if (infosource.Lastnameauhor3 != null)
                                        { <span> / @infosource.Lastnameauhor3, @infosource.Firstnameauhor3</span> } @if (infosource.Furtherauthors != null)
                                        { <span> / @infosource.Furtherauthors</span> }: @infosource.Title. In: @infosource.Journalname, @infosource.Volume @infosource.Publicationdate, @infosource.Issue, @Resources.LabelForPagesAbbreviation @infosource.Pages. <a href="@infosource.Url">[Link]</a>
                                    </p>
                                </div>
                            }
                        }
                    }
                    @if (infotype.Name.Equals("Collections"))
                    {
                        @if (infotype.Id == item.Infotype)
                        {
                            @foreach (var infosource in Collections.Where(A => A.Id.Equals(item.Infosourceid)))
                            { <a asp-action="Edit" asp-controller="Collections" asp-route-id="@infosource.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="Collections" asp-route-id="@infosource.Id">Delete</a>
                                <div class="Collections">
                                    <p>
                                        @infosource.Lastnameauhor1, @infosource.Firstnameauhor1 @if (infosource.Lastnameauhor2 != null)
                                        { <span> / @infosource.Lastnameauhor2, @infosource.Firstnameauhor2</span> } @if (infosource.Lastnameauhor3 != null)
                                        { <span> / @infosource.Lastnameauhor3, @infosource.Firstnameauhor3</span> } @if (infosource.Furtherauthors != null)
                                        { <span> / @infosource.Furtherauthors</span> } In: @infosource.Publisher @Resources.LabelForPublisherAbbreviation: @infosource.Title. @infosource.Location <sup>@infosource.Edition</sup> @infosource.Publicationdate, @Resources.LabelForPagesAbbreviation @infosource.Pages.
                                    </p>
                                </div>
                            }
                        }
                    }
                    @if (infotype.Name.Equals("Series"))
                    {
                        @if (infotype.Id == item.Infotype)
                        {
                            @foreach (var infosource in Series.Where(A => A.Id.Equals(item.Infosourceid)))
                            { <a asp-action="Edit" asp-controller="Series" asp-route-id="@infosource.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="Series" asp-route-id="@infosource.Id">Delete</a>
                                <div class="Series">
                                    <p>
                                        @infosource.Lastnameauhor1, @infosource.Firstnameauhor1 @if (infosource.Lastnameauhor2 != null)
                                        { <span> / @infosource.Lastnameauhor2, @infosource.Firstnameauhor2</span> } @if (infosource.Lastnameauhor3 != null)
                                        { <span> / @infosource.Lastnameauhor3, @infosource.Firstnameauhor3</span> } @if (infosource.Furtherauthors != null)
                                        { <span> / @infosource.Furtherauthors</span> }: @infosource.Title (=@infosource.Titleseries, @infosource.Volume). @infosource.Location <sup>@infosource.Edition</sup> @infosource.Publicationdate, @Resources.LabelForPagesAbbreviation @infosource.Pages.
                                    </p>
                                </div>
                            }
                        }
                    }
                    @if (infotype.Name.Equals("OfficialStatements"))
                    {
                        @if (infotype.Id == item.Infotype)
                        {
                            @foreach (var infosource in OfficialStatements.Where(A => A.Id.Equals(item.Infosourceid)))
                            { <a asp-action="Edit" asp-controller="OfficialStatements" asp-route-id="@infosource.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="OfficialStatements" asp-route-id="@infosource.Id">Delete</a>
                                <div class="OfficialStatements">
                                    <p>
                                        @infosource.Publisher @Resources.LabelForPublisherAbbreviation: @infosource.Title
                                        @if (infosource.Publication != null)
                                        {
                                            <span>In: @infosource.Publication, @infosource.Issue.</span> }  @infosource.Location @infosource.Publicationdate, @Resources.LabelForPagesAbbreviation @infosource.Pages.
                                        </p>
                                    </div>
                            }
                        }
                    }
                    @if (infotype.Name.Equals("Newspapers"))
                    {
                        @if (infotype.Id == item.Infotype)
                        {
                            @foreach (var infosource in Newspapers.Where(A => A.Id.Equals(item.Infosourceid)))
                            { <a asp-action="Edit" asp-controller="Newspapers" asp-route-id="@infosource.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="Newspapers" asp-route-id="@infosource.Id">Delete</a>
                                <div class="Newspapers">
                                    <p>
                                        @infosource.Lastnameauhor1, @infosource.Firstnameauhor1 @if (infosource.Lastnameauhor2 != null)
                                        { <span> / @infosource.Lastnameauhor2, @infosource.Firstnameauhor2</span> } @if (infosource.Lastnameauhor3 != null)
                                        { <span> / @infosource.Lastnameauhor3, @infosource.Firstnameauhor3</span> } @if (infosource.Furtherauthors != null)
                                        { <span> / @infosource.Furtherauthors</span> }: @infosource.Title. In: @infosource.Newspapername @infosource.Issue @Resources.LabelForAt @infosource.Publicationdate, @Resources.LabelForPagesAbbreviation @infosource.Pages.
                                    </p>
                                </div>
                            }
                        }
                    }
                    @if (infotype.Name.Equals("Unpublished"))
                    {
                        @if (infotype.Id == item.Infotype)
                        {
                            @foreach (var infosource in Unpublished.Where(A => A.Id.Equals(item.Infosourceid)))
                            { <a asp-action="Edit" asp-controller="Unpublished" asp-route-id="@infosource.Id">Edit</a>
                            <a asp-action="Delete" asp-controller="Unpublished" asp-route-id="@infosource.Id">Delete</a>
                                <div class="Unpublished">
                                    <p>
                                        @infosource.Lastnameauhor1, @infosource.Firstnameauhor1 @if (infosource.Lastnameauhor2 != null)
                                        { <span> / @infosource.Lastnameauhor2, @infosource.Firstnameauhor2</span> } @if (infosource.Lastnameauhor3 != null)
                                        { <span> / @infosource.Lastnameauhor3, @infosource.Firstnameauhor3</span> } @if (infosource.Furtherauthors != null)
                                        { <span> / @infosource.Furtherauthors</span> }: @infosource.Title. @infosource.Type, @infosource.Schoollocation <sup>@infosource.Edition</sup> @infosource.Publicationdate, @Resources.LabelForPagesAbbreviation @infosource.Pages.
                                    </p>
                                </div>
                            }
                        }
                    }
                }
            }
        }
    }
</div>