@model Robotics.Models.RoboticsCompetitionsInRelation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RoboticsCompetitionsInRelation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ContributingfieldsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContributingfieldsNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BranchesNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BranchesNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoboticscompetitionsNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoboticscompetitionsNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
